/* ===== DESKTOP SIDEBAR ===== */
#sidebar {
  width: 240px;
  height: 100vh;
  background: #000;
 
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color:white;
  margin-bottom: 24px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-link {
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight:bold;
  color: #bfbfbf;
  transition: 0.25s;
}

.nav-link.active {
 background: linear-gradient(135deg, #00bfff, #007adf);
  color: #fff;
}

.nav-link:hover {
 background: linear-gradient(135deg, #0179a0, #050e16);
  color: #fff;
  transform: translateX(6px);
}

.logout {
  padding: 10px 20px;
  border-radius: 22px;
  border: 1px solid #1e40af;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #007adf, #001f3f);
  transition: all 0.3s ease;
}

.logout:hover {
  background: linear-gradient(135deg, #00bfff, #003366);
  transform: translateY(-1px);
}

.bottom-nav {
  display: none;
}

.bottom-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #6b7280;
  font-size: 0.75rem;
  gap: 2px;
  transition: 0.25s;
}

.bottom-link .icon {
  font-size: 1.4rem;
}

.bottom-link.active {
  color: #1e40af;
  font-weight: 600;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  .bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #f3f4f6;
    border-top: 1px solid #e5e7eb;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }
}

/* ===== LOGOUT MODAL ===== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.modal-content h3 {
  margin-bottom: 12px;
  color: #111827;
}

.modal-content p {
  margin-bottom: 20px;
  color: #4b5563;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-cancel {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #9ca3af;
  background: #f3f4f6;
  color: #374151;
  cursor: pointer;
  font-weight: 600;
}

.btn-cancel:hover {
  background: #e5e7eb;
}

.btn-logout {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f87171;
  background: #fee2e2;
  color: #b91c1c;
  cursor: pointer;
  font-weight: 600;
}

.btn-logout:hover {
  background: #f87171;
  color: #ffffff;
}
